header, footer {
  display: flex;
  min-height: 80px;
  background-color: rgba(127, 58, 58, 0.918);
  justify-content: space-between;
  align-items: center;
  padding: 10 px; }

.logo {
  display: flex;
  align-items: center; }

.logo-img {
  height: 80px;
  margin-right: 10px; }

a {
  margin-right: 20px;
  text-decoration: none;
  color: #060606; }

nav, a:hover {
  color: #ece6e6; }

@media (max-width: 320px) {
  header, footer {
    flex-direction: column;
    align-items: center; }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between; }
  .main1 {
    height: 100%;
    background-image: url(../assets/img/img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    opacity: 0.7; }
  .primera {
    border-style: solid;
    border-color: beige;
    text-align: justify;
    font-family: sans-serif; } }

.main1 {
  height: 1200px;
  background-image: url(../assets/img/img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  opacity: 0.7; }

.primera {
  width: 23%;
  position: absolute;
  left: 100px;
  top: 300px;
  border-style: solid;
  border-color: beige;
  text-align: justify;
  font-family: sans-serif; }

.carpintero img {
  width: 100%; }

p {
  background-color: #5badad; }

.segunda {
  width: 23%;
  position: absolute;
  left: 600px;
  top: 350px;
  border-style: solid;
  border-color: beige;
  text-align: justify;
  font-family: sans-serif; }

.soldador img {
  width: 100%; }

.tercera {
  width: 23%;
  position: absolute;
  left: 1100px;
  top: 300px;
  border-style: solid;
  border-color: beige;
  text-align: justify;
  font-family: sans-serif; }

.plomero img {
  width: 100%; }

.primera:hover {
  transform: scale(0.98); }

.segunda:hover {
  transform: scale(0.98); }

.tercera:hover {
  transform: scale(0.98); }

.main2 {
  height: 1200px;
  background-image: url(../assets/img/servicio.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  opacity: 0.7; }

.main3 {
  height: 1200px;
  background-image: url(../assets/img/qs.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  opacity: 0.7; }

.main5 {
  height: 1200px;
  background-image: url(../assets/img/equipo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  opacity: 0.7; }

.main4 {
  height: 1200px;
  background-image: url(../assets/img/contactanos.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  opacity: 0.7; }
